.head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head-icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.head .first {
    font-weight: 300;
}

.head .second {
    margin-left: 10px;
    color: black;
}

.description {
    width: 100%;
}

.description p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.about-image {
    width: 100%;
    border-radius: 8px;
}

.icon {
    color: rgba(227, 153, 14, 0.9);
}