.navbar .MuiAppBar-root {
    box-shadow: none;
}

.MuiAppBar-root {
    position: relative !important;
}

.App {
    padding-top: 64px;

}

.navbar-logo {
    width: auto;
    height: 15vh;
    cursor: pointer;
    position: relative;
    left: 20%;
}

.App {
    padding-top: 60px;
}


@media (max-width: 900px) {
    .navbar-logo {
        height: 10vh;
    }

    .navbar-items button {
        font-size: 12px;
        border: none;
        padding: 5px;
    }
}